<h1>Eat Da Burger</h1>

<h2>Devour Your Burger!</h2>

<ul>
  {{#each burger}}
    {{#unless Devour}}
      {{> burger/burger-block Devour=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Devour Your Burger!</h2>

<ul>
  {{#each burger}}
    {{#unless Devour}}
      {{> burger/burger-block Devour=false}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="devour">Devour!</label><br>
    <input type="radio" name="devour" value="1" checked> Devour!<br>
    <input type="radio" name="devour" value="0"> Not Hungry
  </div>

  <button type="submit">Add Burger</button>
</form>
